<div class = "gill w-300 mrg-auto">

<h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name, class: "hidden" %><br />
  <%= f.text_field :first_name, autofocus: true, class: "w-100per ft-sz-1", placeholder: "First Name" %></div>

  <div><%= f.label :last_name, class: "hidden" %><br />
  <%= f.text_field :last_name, class: "w-100per ft-sz-1", placeholder: "Last Name" %></div>

  <div><%= f.label :email, class: "hidden" %><br />
  <%= f.email_field :email, class: "w-100per ft-sz-1", placeholder: "Email" %></div>


  <div><%= f.label :user_type, class: "hidden" %><br >  <!--DELETE - added just for testing -->
  <%= f.select :user_type, ["student", "teacher"], class: "w-100per ft-sz-1"%></div>

  <div><%= f.label :password, class: "hidden" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "w-100per ft-sz-1", placeholder: "Password" %></div>

  <div><%= f.label :password_confirmation, class: "hidden" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "w-100per ft-sz-1", placeholder: "Confirm Password" %></div>

  <div><%= f.submit "Sign up", class: "w-100per brd-none ft-sz-1 mrg-top-10 brd-rad-5" %></div>
<% end %>

  <p class = "txt-rt ft-itl"><a class = "no-txt-dec" href ='/users/sign_in'> Already a member?</a></p>

</div>
