<div class = 'gill w-70per mrg-auto min-w-350px max-w-900px'>

  <!-- Classroom name -->
  <h2 class = "classroom-name" ><%= @classroom.name %></h2>

  <!-- Teacher name -->
  <h2 class = "ft-lite ft-sz-1q txt-ctr mrg-btm-0 pad-bt-5 sacramento" ><span class = "gill">with </span><%= @teacher.first_name %> <%= @teacher.last_name %></h2>

  <!-- Table of active assignments -->
  <h2 class = "table-title" >Active Assignments</h2>
  <%= render partial: "list_assignments", locals: {assignments: @classroom.pending_assignments} %>

  <!-- Table of past assignments -->
  <h2 class = "table-title" >Past Assignments</h2>
  <%= render partial: "list_assignments", locals: {assignments: @classroom.past_due_assignments} %>

</div>

