<!--
create new assignment
list of pending assignments
list of past due assignments
list of student in the classroom
delete a student from a classroom
-->
<% @roster = @classroom.student_roster %>
<% @pending_assignments = @classroom.pending_assignments %>
<% @past_due_assignments = @classroom.past_due_assignments %>

<div class = 'gill w-70per mrg-auto min-w-350px max-w-900px'>
  <div>
    <h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0" >Class: <%= @classroom.name %></h2>
    <a class = "gill w-100per brd-none ft-sz-1half brd-rad-5" href="<%= new_assignment_path %>/?classroom_id=<%=@classroom.id%>">Create a new assignment</a>
    <h3>See Class Code - javascript here</h3>
    <p>Code:<%= @classroom.join_code %></p>
  </div>

  <div class = 'col-L vert-top'>
    <h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0" >Roster</h2>
    <table>
      <% @roster.each do |student| %>
      <tr onclick="document.location = '<%= user_path(student.id) %>'"class = 'brd-rad-5 pad-5 ft-lite mrg-l-n40 no-blt ft-sz-1half mrg-top-10 bkg-gry'>
        <td><%= student.first_name %> <%= student.last_name %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class = 'col-R'>
    <h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0" >Pending Assignments</h2>
    <table>
      <% @pending_assignments.each do |assignment| %>

      <tr onclick="document.location = '<%= assignment_path(assignment.id) %>'" class = 'brd-rad-5 pad-5 ft-lite mrg-l-n40 no-blt ft-sz-1half mrg-top-10 bkg-gry'>
        <td >
          <%= assignment.title %>
        </td>
        <td>
          <%= assignment.due_date.month %>/<%= assignment.due_date.day %>
        </td>
        </a>
      </tr>

      <% end %>
    </table>

    <h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0" >Past Assignments</h2>
    <table>
      <% @past_due_assignments.each do |assignment| %>
      <tr onclick="document.location = '<%= assignment_path(assignment.id) %>'" class = 'brd-rad-5 pad-5 ft-lite mrg-l-n40 no-blt ft-sz-1half mrg-top-10 bkg-gry'>
        <td>
          <%= assignment.title %></a>
        </td>
        <td>
          <%= assignment.due_date.month %>/<%= assignment.due_date.day %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
