<!--
create new assignment
list of pending assignments
list of past due assignments
list of student in the classroom
delete a student from a classroom
-->
<% @roster = @classroom.student_roster %>
<% @pending_assignments = @classroom.pending_assignments %>
<% @past_due_assignments = @classroom.past_due_assignments %>

<div class = 'gill w-70per mrg-auto min-w-350px max-w-900px'>
  <div class = "">
    <h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0  pad-bt-5" ><%= @classroom.name %></h2>

    <form action="<%= new_assignment_path %>/?classroom_id=<%=@classroom.id%>" method="get">
      <input type="text" name="classroom_id" class = "hidden" value= <%= @classroom.id %>>
      <input type = 'submit' class = 'brd-none w-100per green bkg-wt brd-grn' value = "Create a new assignment" >
    </form>



  </div>

  <div class = 'col-L vert-top'>
    <h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0 brd-bt pad-bt-5" >Roster</h2>
    <table class = "brd-clpse">
      <% @roster.each do |student| %>
      <tr onclick="document.location = '<%= user_path(student.id) %>'"class = 'pad-5 ft-lite mrg-l-n40 ft-sz-1q hov-grn'>
        <td class = "pad-top-15"><%= student.first_name %> <%= student.last_name %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class = 'col-R'>
    <h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0 brd-bt pad-bt-5" >Pending Assignments</h2>
    <table class = "brd-clpse">
      <% @pending_assignments.reverse.each do |assignment| %>

      <tr onclick="document.location = '<%= assignment_path(assignment.id) %>'" class = 'pad-5 ft-lite mrg-l-n40 ft-sz-1q hov-grn'>
        <td class = "pad-top-15">
          <%= assignment.title %>
        </td>
        <td class = "pad-top-15 txt-rt pad-l-20">
          <%= assignment.due_date.month %>/<%= assignment.due_date.day %>
        </td>
      </a>
    </tr>
    <% end%>
  </table>

  <h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0 brd-bt pad-bt-5" >Past Assignments</h2>
  <table class = "brd-clpse w-100per">
    <% @past_due_assignments.each do |assignment| %>
    <tr onclick="document.location = '<%= assignment_path(assignment.id) %>'" class = 'pad-5 ft-lite mrg-l-n40 ft-sz-1q hov-grn'>
      <td class = "pad-top-15">
        <%= assignment.title %></a>
      </td>
      <td class = "pad-top-15 txt-rt pad-l-5">
        <%= assignment.due_date.month %>/<%= assignment.due_date.day %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<p class = "brd-top txt-rt mrg-top-150">Classroom Invitation Code: <%= @classroom.join_code %></p>

</div>

