<div class = 'gill w-70per mrg-auto min-w-350px max-w-900px'>

  <!-- Classroom name -->
  <h2 class = "ft-lite ft-sz-2q txt-ctr mrg-btm-0  pad-bt-5" ><%= @classroom.name %></h2>

  <!-- Create new assignment button -->

  <form action="<%= new_assignment_path %>/?classroom_id=<%=@classroom.id%>" method="get">
    <input type="text" name="classroom_id" class = "hidden" value= <%= @classroom.id %>>
    <input type = 'submit' class = 'brd-none w-100per dk-grn bkg-wt brd-grn' value = "Create a New Assignment" >
  </form>

  <form action="<%= new_rubric_path %>/?classroom_id=<%=@classroom.id%>" method="get">
    <input type="text" name="classroom_id" class = "hidden" value= <%= @classroom.id %>>
    <input type = 'submit' class = 'brd-none w-100per dk-grn bkg-wt brd-grn' value = "Create a New Rubric" >
  </form>

  <!-- Roster: List of students in L column -->
  <div class = 'col-L vert-top'>
    <h2 class = "table-title" >Roster</h2>
    <p id = "edit-teacher-classroom" class = "edit-button" >Edit</p>
    <%= render partial: "list_students", locals: {students: @classroom.student_roster} %>
  </div>

  <!-- Assignments: List of active and past assignments in R column -->
  <div class = 'col-R'>

    <h2 class = "table-title" >Active Assignments</h2>
    <p id = "edit-teacher-classroom" class = "edit-button">Edit</p>
    <%= render partial: "list_assignments", locals: {assignments: @classroom.pending_assignments} %>

    <div class = "inln-bk w-100per">
      <h2 class = "table-title" >Past Assignments</h2>
      <p id = "edit-teacher-classroom" class = "edit-button" >Edit</p>
      <%= render partial: "list_assignments", locals: {assignments: @classroom.past_due_assignments} %>
    </div>
  </div>

  <!-- Classroom code -->
  <p class = "brd-top txt-rt mrg-top-150">Classroom Invitation Code: <%= @classroom.join_code %></p>

</div>

