<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class = "gill w-400 mrg-auto">
    <a href="/users/<%= current_user.id %>">Frog-a-lytics</a>
    <a href="/classroom/new">Add a Class</a>

    <h1>Your Classes</h1>
    <table>
      <% @data[:classrooms].each do |klass| %>
      <tr>
        <td><a href="/classroom/<%= klass.id %>"><%= klass.name %></a></td>
      </tr>
      <% end %>
    </table>
    <br>
    <h1>Pending Assignments</h1>
    <table>
      <% @data[:assignments][0..4].each do |assignments| %>
      <tr>
        <td><a href="/assignment/<%= assignments.id %>"><%= assignments.title %></a></td>
        <td><%= assignments.due_date %></td>
      </tr>
      <% end %>
    </table>
  </div>


</body>
</html>

