<div class = 'gill w-70per mrg-auto min-w-350px max-w-900px'>

  <!-- Student's Name  -->
  <h1 class = "ft-lite ft-sz-2q mrg-btm-0 txt-ctr brd-bt pad-bt-5"><%= @student.first_name %> <%= @student.last_name %> Overview</h1>

  <!-- Highcharts stuff -->
  <%= high_chart("submissions_chart", @submissions_chart) %>
  <%= high_chart("readability_chart", @readability_chart) %>


  <!-- Tables of assignments per class -->
  <%= render partial: "overview_tables" %>

</div>
