<div class = "gill w-300 mrg-auto">

<h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, class: "hidden" %><br />
  <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "w-100per ft-sz-1" %></div>

  <div><%= f.submit "Send me reset password instructions", class: "w-100per brd-none ft-sz-1 mrg-top-10 brd-rad-5" %></div>
<% end %>

<p class = "txt-rt ft-itl mrg-btm-0 "><a class = "no-txt-dec " href ='/users/sign_up'>Sign up</a></p>
<p class = "txt-rt ft-itl mrg-top-0 "><a class = "no-txt-dec " href ='/users/sign_in'>Sign in</a></p>
</div>
