<%= high_chart("submissions_chart", @submissions_chart) %>
 <table class = "w-100per brd-clpse">
  <tr class = " ft-lite ft-sz-2 mrg-top-45 mrg-btm-0 brd-bt pad-bt-5 orange">
    <th class = "ft-lite txt-lt">Student</th>
    <th class = "ft-lite txt-rt">Status</th>
  </tr>
  <%@students.each do |student|%>
    <% if student.submission_status(@assignment) != 'incomplete' %>
      <tr onclick="document.location = '<%= submission_path(student.find_submission(@assignment)) %>'" class = "pad-5 ft-lite mrg-l-n40 ft-sz-1q hov-bkg">
    <% else %>
      <tr class = "pad-5 ft-lite mrg-l-n40 ft-sz-1q">
    <% end %>
      <td class = "ft-lite pad-top-15 txt-lt pad-l-5"><%= student.first_name %> <%= student.last_name %></td>
      <td class = "ft-lite pad-top-15 txt-rt pad-r-5"><%= student.submission_status(@assignment) %></td>
    </tr>
    <% end %>
  </table>

  <% if current_user.user_type == "teacher" %>
  <form action="<%= edit_assignment_path(@assignment.id) %>" method="get">
    <input type="text" name="classroom_id" class = "hidden" value= <%= @classroom.id %>>
    <input type = 'submit' class = 'brd-none w-100per dk-grn bkg-wt brd-grn mrg-top-45' value = "Edit assignment" >
  </form>
  <% end %>

