<h3> <%= @completed_submission.sub_title %> </h3>
<br>
<p> <%= @completed_submission.sub_content.html_safe %> </p>

<h4> Flesch-Kincaid Readability Score: <%= Lingua::EN::Readability.new(@completed_submission.sub_content).kincaid %><br>
Vocabulary Complexity: <%= Lingua::EN::Readability.new(@completed_submission.sub_content).percent_fog_complex_words %><br>
Avg Sentence Length: <%= Lingua::EN::Readability.new(@completed_submission.sub_content).words_per_sentence %>
</h4>





