<div class = 'gill w-70per mrg-auto min-w-350px max-w-900px'>

  <%= render partial: "submission/class_and_assignment" %>

  <% if current_user.user_type == "teacher" %>
  <%= render 'assignment_overview' %>
  <% end %>

  <% if current_user.user_type == "student" %>
    <% if @completed_submission != nil %>
      <%= render partial: "submission/feedback", locals: {submission: @submission} %>
      <%= render partial: 'student_assignment_overview', locals: {submission: @completed_submission} %>
    <% else %>
      Status: <%= @submission.status %>
      <%= render 'submission/text_editor' %>
    <% end %>
  <% end %>
</div>

