<html>
<head>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag javascript_path "smooth_scroll", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <title></title>
</head>
<body>

  <!-- fa-facebook -->
  <!-- fa-github-alt -->
  <!-- fa-twitter -->
  <!-- fa-google-plus -->

  <!-- http://en.ony.ru/upload/BlocksPagesProperties/video_ogv/f1043baf3e69cf94736c08e559c0e187.ogv -->
  <section class="info" id="first">

    <div class="navbar">
      <div id="login_buttons">
       <a class=" btn btn-secondary btn-mini" href = "/users/sign_in">Log In</a>
       <a class=" btn btn-mini btn-primary" href = "/users/sign_up">Sign Up</a>
      </div>
      <div id="page_links">
        <img alt="Frog" class="h-50per pad-l-5" src=<%= asset_path 'frog.png' %>/>
        <span class="fw-300">FrogPress</span>
      </div>
    </div>
    <div id="first_main">
      <div class="login-modal">
        <h1 class="white ft-sz-4-5 mrg-bot-2">FrogPress</h1>
       <a class=" btn btn-primary btn-small" style="min-width:75%;" href = "/users/sign_up">Get Started</a>
       <p class="fw-300"><a href="#" class="white no-txt-dec">Have an account? <strong>Sign In</strong></a></p>
      </div>
      <video width="100%" autoplay="autoplay" muted="muted" poster="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.jpg" loop="loop">
        <source src=<%= asset_path 'school_classroom.mp4' %> type="video/mp4">
        <source src="" type="video/webm">
      </video>
    </div>
    <div class="footerbar">

      <div data-ui="down-arrow" class="down-arrow">
      <a href="#about">  <i class="fa fa-angle-down fa-3x mrg-top-0.3" style="margin-top: -0.3rem;"></i> </a>
      </div>

    </div>
  </section>

  <section class = "info" id = "about">
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
  <%= f.submit 'Sign in' %>
  <%= link_to "Forgot your password?", new_password_path(:user) %>
<% end %>
  </section>
  <section class = "info" id = "portfolio">
  </section>
  <section class = "info" id = "contact">
  </section>
</body>
</html>
