<% if @submission.nil? then @submission = @completed_submission end %>
<h4 class = "table-title">Assignment Analytics</h4>

<table id = "assignments" class = "brd-clpse w-100per brd-top ft-lite ft-sz-1q">
  <tr class = "hov-bkg">
  <td class = "pad-l-5 pad-top-15">Flesch-Kincaid Readability Score</td>
  <td class = "txt-rt pad-r-5"><%= Lingua::EN::Readability.new(@submission.sub_content).kincaid.round(2) %></td>
  </tr>
  <tr class = "hov-bkg">
  <td class = "pad-l-5 pad-top-15">Vocabulary Complexity</td>
  <td class = "txt-rt pad-r-5"><%= Lingua::EN::Readability.new(@submission.sub_content).percent_fog_complex_words.round(2) %></td>
  </tr>
  <tr class = "hov-bkg">
  <td class = "pad-l-5 pad-top-15">Avgerage Sentence Length</td>
  <td class = "txt-rt pad-r-5"><%= Lingua::EN::Readability.new(@submission.sub_content).words_per_sentence.round(2) %></td>
  </tr>
</table>

<h4 class = "table-title brd-bt w-100per" >Written Feedback</h4>
<% @submission_feedback = Submission.find(@submission.id).feedbacks %>
<% @submission_feedback.each do | feedback | %>
  <h6 class = "ft-lite mrg-btm-0 pad-bt-0 ft-sz-1q mrg-top-10" ><%= feedback.feedback_provider %> commented:</h6>
  <h4 class = "ft-lite mrg-top-0 ft-sz-1"><%= feedback.content %><h4>
<% end %>

<% if @submission_feedback.count != 0 %>

<h4 class = "table-title brd-bt w-100per" >Rubric Scores</h4>
<% @submission.rubric_submissions.each do | rs | %>
  <% score = rs.score.to_i %>
  <% category = RubricCategory.find_by_id(rs.rubric_category_id) %>
  <% #if category %>
  <table class="rubric_feedback w-100per">
    <tr>
      <td><%= category.title %></td>

      <% if score == 1 %>
        <td class="selected"><%= category.level1 %></td>
      <% else %>
        <td><%= category.level1 %></td>
      <% end %>

      <% if score == 2 %>
        <td class="selected"><%= category.level2 %></td>
      <% else %>
        <td><%= category.level2 %></td>
      <% end %>

      <% if score == 3 %>
        <td class="selected"><%= category.level3 %></td>
      <% else %>
        <td><%= category.level3 %></td>
      <% end %>

      <% if score == 4 %>
        <td class="selected"><%= category.level4 %></td>
      <% else %>
        <td><%= category.level4 %></td>
      <% end %>

      <% if score == 5 %>
        <td class="selected"><%= category.level5 %></td>
      <% else %>
        <td><%= category.level5 %></td>
      <% end %>
    </tr>

  </table>
  <% end %>

<% end %>




<% if current_user.user_type == "student" %>
<p class = "w-100per brd-bt"> </p>
<% end %>
