<div class = 'gill w-70per mrg-auto min-w-350px max-w-900px'>

  <%= render partial: "class_and_assignment" %>

<!-- Teacher View -->
  <% if current_user.user_type == "teacher" %>
    <h4 class = "txt-ctr mrg-btm-0"><%= @submission.sub_title%></h4>
    <h5 class = "txt-ctr mrg-top-0 ft-lite">by <%=@student.first_name%> <%=@student.last_name%></h5>
    <p class = "brd-bt" ><%= @submission.sub_content%></p>

      <% if @feedback == 1 %>
      <%= render partial: "feedback", locals: {submission: @submission} %>
      <% end %>
      <%= render partial: "create_feedback", locals: {submission: @submission} %>
  <% else %>
      <% if @feedback == 1 %>
      <%= render partial: "feedback", locals: {submission: @submission} %>
      <% end %>

    <h4 class = " brd-top pad-top-15 txt-ctr mrg-btm-0"><%= @submission.sub_title%></h4>
    <h5 class = "txt-ctr mrg-top-0 ft-lite">by <%=@student.first_name%> <%=@student.last_name%></h5>
    <p><%= @submission.sub_content%></p>
  <% end %>

</div>

