<div class = 'gill w-70per mrg-auto min-w-350px max-w-900px'>

  <%= render partial: "class_and_assignment" %>

<!-- Teacher View -->
  <% if current_user.user_type == "teacher" %>
    <%= render partial: "assignment/student_assignment_overview", locals: {submission: @submission} %>

      <% if @feedback == 1 %>
      <%= render partial: "feedback", locals: {submission: @submission} %>
      <% end %>
      <%= render partial: "create_feedback", locals: {submission: @submission} %>
  <% else %>
      <% if @feedback == 1 %>
      <%= render partial: "feedback", locals: {submission: @submission} %>
      <% end %>
    <%= render partial: "assignment/student_assignment_overview", locals: {submission: @submission} %>

  <% end %>

</div>

