<div class = "gill w-300 mrg-auto">

<h2 class = "ft-lite ft-sz-2 txt-ctr mrg-btm-0">Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email, class: "hidden" %><br />
  <%= f.email_field :email, autofocus: true, class: "w-100per ft-sz-1", placeholder: "Email" %></div>

  <div><%= f.label :password, class: "hidden" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "w-100per ft-sz-1", placeholder: "Password" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me, class: "mrg-top-10" %> <%= f.label :remember_me, class: "gill ft-lite " %></div>
  <% end -%>

  <div><%= f.submit "Sign in", class: "w-100per brd-none ft-sz-1 mrg-top-10 brd-rad-5" %></div>
<% end %>

<p class = "txt-rt ft-itl mrg-btm-0 "><a class = "no-txt-dec " href ='/users/sign_up'>Sign up</a></p>
<p class = "txt-rt ft-itl mrg-top-0"><a class = "no-txt-dec" href ='/users/password/new'>Forgot your password?</a></p>

</div>
