
<div class = 'gill w-70per mrg-auto min-w-350px max-w-900px'>

<h1>Rubric for *CLASSROOM NAME*</h1>
<%= "Object Passed: " %>
<%= @rubric %><br>
<br>
<%= @rubric.title %><br>

<table class = "w-100per brd-clpse">


    <tr>
    <th>Category</th>
    <th>Level 1 Criteria</th>
    <th>Level 2 Criteria</th>
    <th>Level 3 Criteria</th>
    <th>Level 4 Criteria</th>
    <th>Level 5 Criteria</th>
    </tr>

    <tr>

      <td>Yoshi</td>
      <td>Yoshi (ヨッシー Yosshī?) /ˈjoʊʃi/ or /ˈjɒʃi/, once romanized as Yossy,[1][2] is a fictional anthropomorphic dinosaur (referred to as a dragon at times) who appears in video games published by Nintendo.[3] He debuted in Super Mario World (1990) on the Super Nintendo Entertainment System[4] as Mario and Luigi's sidekick (a role he has often reprised), and he later established his own series with several platform and puzzle games, including Super Mario World 2: Yoshi's Island.</td>
      <td>Yoshi (ヨッシー Yosshī?) /ˈjoʊʃi/ or /ˈjɒʃi/, once romanized as Yossy,[1][2] is a fictional anthropomorphic dinosaur (referred to as a dragon at times) who appears in video games published by Nintendo.[3] He debuted in Super Mario World (1990) on the Super Nintendo Entertainment System[4] as Mario and Luigi's sidekick (a role he has often reprised), and he later established his own series with several platform and puzzle games, including Super Mario World 2: Yoshi's Island.</td>
      <td>Yoshi (ヨッシー Yosshī?) /ˈjoʊʃi/ or /ˈjɒʃi/, once romanized as Yossy,[1][2] is a fictional anthropomorphic dinosaur (referred to as a dragon at times) who appears in video games published by Nintendo.[3] He debuted in Super Mario World (1990) on the Super Nintendo Entertainment System[4] as Mario and Luigi's sidekick (a role he has often reprised), and he later established his own series with several platform and puzzle games, including Super Mario World 2: Yoshi's Island.</td>
      <td>Yoshi (ヨッシー Yosshī?) /ˈjoʊʃi/ or /ˈjɒʃi/, once romanized as Yossy,[1][2] is a fictional anthropomorphic dinosaur (referred to as a dragon at times) who appears in video games published by Nintendo.[3] He debuted in Super Mario World (1990) on the Super Nintendo Entertainment System[4] as Mario and Luigi's sidekick (a role he has often reprised), and he later established his own series with several platform and puzzle games, including Super Mario World 2: Yoshi's Island.</td>
      <td>Yoshi (ヨッシー Yosshī?) /ˈjoʊʃi/ or /ˈjɒʃi/, once romanized as Yossy,[1][2] is a fictional anthropomorphic dinosaur (referred to as a dragon at times) who appears in video games published by Nintendo.[3] He debuted in Super Mario World (1990) on the Super Nintendo Entertainment System[4] as Mario and Luigi's sidekick (a role he has often reprised), and he later established his own series with several platform and puzzle games, including Super Mario World 2: Yoshi's Island.</td>
    </tr>
   <% @rubric.rubric_categories.each do |category| %>
    <tr>
      <td><%= category.title%></td>
      <td><%= category.level1%></td>
      <td><%= category.level2%></td>
      <td><%= category.level3%></td>
      <td><%= category.level4%></td>
      <td><%= category.level5%></td>

    </tr>
   <% end %>




</table>

</div>
