
<center>
<h1>This is the page to view a Rubric</h1>
<%= "Object Passed: " %>
<%= @rubric %><br>
<br>
<%= @rubric.title %><br>

<table style="border:1px solid blue; width:80%;">



    <th>Category</th>
    <th>Level 1 Criteria</th>
    <th>Level 2 Criteria</th>

    <th>Level 3 Criteria</th>

    <th>Level 4 Criteria</th>

    <th>Level 5 Criteria</th>

   <% @rubric.rubric_categories.each do |category| %>
    <tr>
      <td><%= category.title%></td>
      <td><%= category.level1%></td>
      <td><%= category.level2%></td>
      <td><%= category.level3%></td>
      <td><%= category.level4%></td>
      <td><%= category.level5%></td>

    </tr>
   <% end %>




</table>

</center>
