<!DOCTYPE html>
<html>
<head>
  <title>FrogPress</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Sacramento" />
  <%= stylesheet_link_tag asset_path('application'), media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag asset_path('application'), "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'green-frog.ico'%>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<nav class = "bkg-dk-gry w-100per h-50">
<a href="<%= root_path %>"> <%= image_tag "logo.gif", class: "h-90per pad-l-5 pad-2 " %></a>
<ul class = "inln-bk mrg-top-0 vert-top mrg-l-0">
  <li class = "sacramento no-blt ln-h-50 white ft-sz-2 mrg-l-0">
    <% if current_user %>
    <a class = "no-txt-dec white hov-txt" href="<%= root_path %>"><%= current_user.first_name %> <%= current_user.last_name %></a>
    <% end %>
  </li>
</ul>
<ul class = "inln-bk mrg-top-0 vert-top flt-r">
  <% if current_user %>
    <li class = "sacramento ft-lite no-blt ln-h-50 white ft-sz-1half mrg-r-15 "><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "no-txt-dec white hov-txt" %></li>
  <% end %>
</ul>
</nav>

<%= yield %>
<footer class = "mrg-btm-50"></footer>
</body>
</html>
